<div class="jumbrotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="kead">Jot down ideas for your next YouTube or Vimeo videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea </a>
</div>